<!DOCTYPE html>
<html>

  <head>
   </head>

  <body>

    <% if !current_user %>
      <%= link_to image_tag('http://www.iheartny.us/assets/facebook-3e8549b55d78271e7316b34b6f2afd68.png', width: 250), user_omniauth_authorize_path(:facebook) %>
      <br>
      <%= link_to "Email Sign up", new_user_registration_path %>
    <% end %>

    <% if current_user %>
     <p><%= current_user.name || current_user.email %></p>
      Create new target
      <br>

      <% @target.each do |target| %>
        <li><%= link_to "#{target.name}", new_target_thought_path(target) %></li>
      <% end %>

       <%= form_for Target.new do |f| %>
          <%= f.label :target %>
          <%= f.text_field :name %>
          <%= f.submit %>
        <% end %>

    <% end %>

  </body>

</html>
