<!DOCTYPE html>
<html>

  <head>
   </head>

  <body>

    <h1>I LIKE THE WAY</h1>
    <p id="description">Tell your friends what you admire about them</p>

    <h3>I like the way...</h3>
    <% if current_user %>
     <p><%= current_user.name || current_user.email %></p>
      Create new target
      <br>

      <% @target.each do |target| %>
        <li><%= link_to "#{target.name}", new_target_thought_path(target) %></li>
      <% end %>

       <%= form_for Target.new do |f| %>
          <%= f.label :target %>
          <%= f.text_field :name %>
          <%= f.submit %>
        <% end %>

    <% end %>

  </body>

</html>
