<!DOCTYPE html>
<html>

  <head>
    <title> I like the way </title>
  </head>

  <body>
    <h1>I like the way</h1>
    <p>Tell your friends what you admire about them</p>

    <h3>I like the way...</h3>
    <%= form_for Thought.new do |f| %>
      <%= f.label :question1 %>
      <%= f.text_field :question1 %>
      <%= f.submit %>
      <%= social_share_button_tag("iltwy") %>
    <% end %>



    <!--   <textarea name="thoughts" id='thoughts' cols="50" rows="15"></textarea>
      <button>Browse</button>
      <button>Upload Image</button>
      <button>Cancel</button>

      <button id="send_button">Send</button> -->

  </body>

</html>
