<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>

    <center>
    <h1>I LIKE THE WAY</h1>
    <p id="description">Tell your friends what you admire about them</p>


    <h3>I like the way...</h3>
    <% if current_user %>
     <p><%= current_user.name || current_user.email %></p>

       <%= form_for [@target, @thought] do |f| %>
          <%= f.label :question1 %>
          <%= f.text_field :question1 %>
          <%= f.submit %>
          <%= social_share_button_tag("iltwy") %>
        <% end %>
    <% end %>

    <%= @thought_1 %>
    <%= @thought_2 %>
    <%= @thought_3 %>

  </body>

</html>
