<!DOCTYPE html>
<html>
<head>
  <h1>iLtwy</h1>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <section>
  <h1 style= "text-align: center;">iLtwy</h1>
  <h3 style= "text-align: center;">iLtwy</h3>

  <% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <%= link_to "Sign up", new_user_registration_path %>
  <% end %>

<%= yield %>

</section>
</body>
</html>
